.user_header {
    height: 200px;
    background-color: gray;
}

.user_info {
    padding: 0 15px 15px;
    margin-top: -70px;
}

.user_info_header {
    display: flex;
    justify-content: space-between;
}

.user_info_about {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user_info_about li {
    margin-right: 30px;
    color: gray;
}

.user_info_about li a {
    color: deepskyblue;
}

.user_content_wrapper {
    margin-top: 0;
}

.user_content_no_tweets {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.user_loader {
    position: relative;
    left: 50%;
}